/*.containers {
    
    background-image: url("pexels-expect-best-323705.jpg");
  
   
    height: 550px;; 
    width: 1000x;
  
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }*/