/*.registeresdstaff {
    
    background-image: url("pexels-rodnae-productions-6129507.jpg");
  
  
    height:750px;
    width: 500x;
  
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }*/