
.containers {

    background-image: url("pexels-expect-best-323705.jpg");
  
    
    height: 500px;; 
    width: 800x;
  
 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }