
/*.container {
   
    background-image: url("pexels-pixabay-236380.jpg");
  

    height: 800px;; 
    width: 750px;
  
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }*/