.bedbooking{
    background-image: url("../images/bed.jpg");
  
   
    height: 550px;; 
    width: 1000x;
  
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}