.staffreg{
    background-image: url("../images/staffreg.jpg");
  
   
    height: 650px;; 
    width: 1000x;
  
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}