.login {

  background-image: url("../images/pexels-karolina-grabowska-4386464.jpg");


  height: 800px;
  width: 750x;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}