/*.registeresd {

  background-image: url("../images/national-cancer-institute-NFvdKIhxYlU-unsplash.jpg");


  height: 570px;
  ;
  width: 500x;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}*/