/*body {
   
    background: #5dacb9;
  
  
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgb(140, 158, 188));
  
    
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
  }*/